@keyframes fadeIn{
    0% {opacity: 0;}
    100%{opacity: 1;}
}
@keyframes contentDown{
    0%{
        margin-top: -200px;
        transform: rotateY(150deg);
        opacity: 0;
        
    }
    
    
}
@keyframes sectionAnimationRight{
    0%{
        position: relative;
        left: -300px;
        opacity: 0;
    }
    
    30%{
        left:0;
    }
    
}
@keyframes sectionAnimationLeft{
    0%{
        position: relative;
        right: -300px;
        opacity: 0;
    }

    30%{
        right:0;
    }
}
/*Animaçoes do header*/
@keyframes animationTop{
    0%{
        transform: translateY(-300px);
    }
    
}

@keyframes animationLeft{
    0%{
        transform: translate(-900px,-800px);
    }
    40%{
        transform: rotate(250deg);
    }
    
}


@keyframes animationRight{
    0%{
        transform: translate(900px,800px);
        color: turquoise;
    }
    10%{
        color: blue;
    }
    15%{
        color: blueviolet;
    }
    20%{
        color: green;
    }
    25%{
        color: yellowgreen;
    }  
    30%{
        color: yellow;
    }
    35%{
        color: tomato;
    }
    40%{
        color: darkcyan;
    }
    45%{
        color: green;
    }
    50%{
        color: red;
    }
    55%{
        color: blueviolet;
    }
    60%{
        color: blue;
    }
    65%{
        color: yellow;
    }
    70%{
        color: orange;
    }
    75%{
        color: blueviolet;
    }
    80%{
        color: green;
    }
    85%{
        color: yellow;
    }
}


@keyframes piscar{
    0%{
        opacity: 0;
    }
    
    50%{
        opacity: 0;
    }
    

}
